PIP_IMAGES_INPUT_DIR=input
PIP_IMAGES_OUTPUT_DIR=output
PIP_IMAGES_OUTPUT_SIZE=[400,400]
PIP_IMAGES_ACCEPTED_FORMATS=["JPEG", "PNG", "GIF"]
PIP_IMAGES_APPLY_THUMBNAIL=true
PIP_IMAGES_APPLY_FILTER_DETAIL=false
PIP_IMAGES_APPLY_CONVERT_L=false
PIP_IMAGES_APPLY_QUALITY=100
PIP_IMAGES_APPLY_OPTIMIZE=true
